:root {
    --black: #1b2223;
    --dark: #3a4f50;
    --green: #0ef6cc;
    --light: #f4f4fd;
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    animation-duration: 1s;
    animation-name: appear;
    animation-iteration-count: 1;
    animation-direction: normal;
}

main .hero {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: var(--light);
    background: url(https://images.pexels.com/photos/2261485/pexels-photo-2261485.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

main .hero h1 {
    font-size: 4rem;
}

main .hero p {
    width: 70%;
    font-size: 1.2rem;
}

main .about-info {
    position: relative;
    width: 100%;
    height: 500px;
}

main .about-info .cards {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: -10%;

}

main .about-info .cards .card {
    width: 40%;
    height: 100%;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    box-shadow: 10px 5px 55px var(--black);

}

main .about-info .cards .image {
    width: 40%;
    height: 100%;
    background: url(/images/sit-ups.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;

}

main .about-info .cards .image img {
    width: 100%;
    height: 100%;

}

main .extras {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main .extras .extra {
    height: 500px;
    position: relative;
    overflow: hidden;
    cursor: default;
    box-shadow: 5px 5px 55px var(--black);
}

main .extras .extra .image {
    height: 100%;
    width: 100%;
}

main .extras .extra .image img {
    height: 100%;
    width: 100%;
    transition: .5s linear;
}

.description {
    position: absolute;
    color: var(--light);
    height: 100%;
    width: 100%;
    top: 85%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    transition: .5s linear;
}

.description h2 {
    padding-bottom: 20px;
    text-align: center;
}

.description p {
    text-align: center;
    opacity: 0;
    transition: .5s ease-in-out;
}

.extra:hover .description {
    top: 0;
    background-color: rgba(14, 246, 204, .7);
    transition: .5s ease-in-out;
}

.extra:hover .description p {
    opacity: 1;
}

.extra:hover .image img {
    scale: 1.2;
}

main .additional {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    cursor: normal;
}

main .additional .card {
    width: 40%;
    height: 80%;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    perspective: 800px;
    transition: transform 0.8s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 10px 5px 55px var(--black);
}

/* card front */
.card-front {
    background-color: var(--dark);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 24px;
}

/* card back */
.card-back {
    background-color: var(--black);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
}

.card-back p {
    transition: .2s ease-in-out;
    background-color: transparent;
}

.card-back p a {
    text-decoration: none;
    border: 1px solid var(--green);
    color: var(--green);
    padding: 10px;
    
}

.card-back p:hover {
    transform: scale(1.12);
    box-shadow: 10px 5px 55px var(--green);
}


@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}