:root {
    --black: #1b2223;
    --dark: #3a4f50;
    --green: #0ef6cc;
    --light: #f4f4fd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    position: relative;
}

main section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hero {
    color: var(--light);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/images/feet.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero h1 {
    font-size: 4rem;
}

main .hero p {
    width: 70%;
    font-size: 1.2rem;
}

main .sub-message {
    position: absolute;
    animation: fade 2s linear forwards;
    color: var(--green);
    z-index: 10;
    width: 50%;
    transform: translateX(50%);
    margin-top: 0;
    text-align: center;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
}

.fail {
    color: red;
}

.signup-table {
    padding-top: 100px;
}

.signup-table table {
    width: 80%;
    table-layout: auto;
    row-gap: 1cm;
    border-collapse: collapse;
}

.signup-table table tr td,
.signup-table table thead th {
    padding: 15px;
    border-style: none;
}

.signup-table table tr {
    transition: 0.2s ease;
    cursor: default;
}

.signup-table table tr:hover {
    background-color: var(--dark);
    color: var(--light);
    box-shadow: 5px 5px 30px var(--black);
    transform: scale(1.02);
}

.signup-table table button {
    background-color: transparent;
    font-size: 20px;
    color: white;
    border-style: none;
    padding: 5px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.signup-table table button:hover{
    color: var(--green);
    border-bottom: 1px solid#0ef6cc;
    
}
@keyframes fade {
    0% {
        opacity: 0;
        display: none;
        margin-top: -300px;
    }

    10% {
        opacity: 1;
        display: flex;
        margin-top: 0;
    }

    90% {
        opacity: 1;
        display: flex;
        margin-top: 0;
    }

    100% {
        opacity: 0;
        display: none;
        margin-top: -300px;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
