* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    position: relative;
}

main section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main .sub-message {
    position: absolute;
    animation: fade 2s linear forwards;
    color: green;

    z-index: 10;
    width: 50%;
    transform: translateX(50%);
    margin-top: 0;
    text-align: center;
    padding: 35px;

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(15px);
}

section form {
    height: 500px;
    width: 400px;
    position: relative;
    overflow: hidden;
    transition: .5s ease;
    margin: 20px;
}

section form:hover .image {
    scale: 1.15;
    transform: rotatez(5deg);
}

section form:hover .other-info {
    transform: translate(0, -85%);
    color: #f96d00;
}

section form .image {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: .5s ease;
}

section form .image img {
    height: 100%;
    width: 100%;
}

section form .other-info {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    top: 85%;
    left: 0;
    background-color: rgba(10, 20, 11, .6);
    backdrop-filter: blur(10px);
    text-align: center;
    transition: .5s ease;
}

section form:hover .signup-btn {
    left: 50%;
    color: #fff;
    background-color: green;
    border: 2px solid green;
    border-radius: 10px;
}

section form .other-info h3,
section form .other-info span {
    font-size: x-large;
    font-weight: 700;
    margin: 5px;
}

section form .signup-btn {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 200%;
    transition: .5s ease;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transform-origin: top left;

}

section form .signup-btn button {
    font-size: 20px;
    padding: 8px;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border: transparent;
    border-radius: 10px;
    transition: .5s ease;
    cursor: pointer;

}

section form .signup-btn:hover {
    scale: 1.18;
}


.fail {
    color: red;
}


@keyframes fade {
    0% {
        opacity: 0;
        display: none;
        margin-top: -300px;
    }

    10% {
        opacity: 1;
        display: flex;
        margin-top: 0;
    }

    90% {
        opacity: 1;
        display: flex;
        margin-top: 0;
    }

    100% {
        opacity: 0;
        display: none;
        margin-top: -300px;

    }
}