*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

main .hero{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #ff9900; */
    background: transparent;
    color: white;
    background: url(/images/feet.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
main .hero h1 {
    font-size: 4rem;
}

main .hero p {
    width: 70%;
    font-size: 1.2rem;
}
main .contact-box{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-box .map{
    width: 45%;
}
.contact-box .contact{
    width: 45%;
    padding: 20px;
    background-color: rgb(252, 252, 252);
    box-shadow: 10px 10px 50px black;
}
.contact .heading{
    text-align: center;
    padding: 5px;
}
.contact .info{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.contact .info span{
    border-right: 1px solid black;
    width: 20%;
    padding-right: 5px;
}
.contact .form{
    padding: 5px;
    
}
.contact .form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact .form form input{
    margin: 5px;
    padding: 5px;
    width: 70%;
}

textarea{
    width: 70%;
    margin: 5px;
    padding: 5px;
    
}
.contact .form form button{
    width: fit-content;
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: aquamarine;
    border-style: none;
    font-weight: bold;
    transition: all ease-in-out .2s;
}
.contact .form form button:hover{
    cursor: pointer;   
    background-color: green;
    scale: 1.15;
}
.contact .socials{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contact .socials .follow{
    padding: 5px;
    
}
.contact .socials .icons{
    padding: 5px;
}
.contact .icons a img{
    
    
}
iframe{
    width: 100%;
}
