/* *{
    border: 2px solid red;
} */
/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    scroll-snap-type: proximity;
}

/* Header */

/* Hero Section */
#hero-section {
    background-image: url(/images/main2.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: sticky;
    top: 0;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 4rem;
}

.hero-content p {
    background: rgba(0, 0, 0, 0.4);
    padding: 5px;
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero-content span {
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #f96d00;
    padding: 5px;
}

.btn {
    display: inline-block;
    background-color: #f96d00;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #00cb00;
}

/* Trainer Section */
#classes-section {
    background-color: #f2f2f2;
    position: relative;
    height: 400px;
}

#classes-section .cards {
    display: flex;
    justify-content: center;
    color: #fff;
}

#classes-section .class-card {
    background: linear-gradient(
            to right,
            rgba(250, 108, 0, 0.6),
            rgba(0, 0, 0, 0.8)
        ),
        url(/images/trainer.jpg);

    background-size: cover;
    background-position: center;
    margin: 10px;
    width: 250px;
    min-width: 150px;
    height: 250px;
    padding: 20px;
    margin-bottom: 20px;
    display: grid;
    place-items: center;
    transition: 0.6s ease-in;
    animation: cardAnimation 2s;
}

.class-card:hover {
    transform: scale(1.1);
    scale: 1.3;
    z-index: 5;
}

.class-card .card-d {
    transition: 0.6s ease-in;
    scale: 0;
    z-index: -10;

    text-decoration: underline;
}

.class-card:hover .card-d {
    scale: 1;
    z-index: 1;
    background: scale(1.5);
}

/* Membership Section */
.membership .packages {
    display: flex;
    justify-content: space-evenly;
}

.membership .packages .package {
    position: relative;
    width: 400px;
    border: 2px solid black;
}

.membership .packages .package span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
}

.membership .packages .package span h3 {
    padding: 5px;
    color: #f96d00;
}

.membership .packages .package span p {
    border-left: 2px solid white;
    padding: 5px;
}

.membership .packages .package img {
    width: 400px;
}

/* Contact Section */
#contact-section {
    background-color: #f2f2f2;
    padding: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
}

@keyframes cardAnimation {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
