*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #FFF;
}
 main .membership-cards{
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    background-image: url('/images/membership_no_bg.png');
 }
 main .membership-cards .card{
    width: 100%;
    display: flex;
 }
 main .membership-cards .card .image{
    width: 100%;
    border: 2px solid black;
}
main .membership-cards .card .image img{
    width: 50%;
    border: 2px solid black;
}
/* main .membership-cards .card .other{

} */

.form form{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

input, select{
    margin: 5px;
    padding: 10px;
    width: 30%;
    font-size: 18px;
}
