:root {
    --black: #1b2223;
    --dark: #3a4f50;
    --green: #0ef6cc;
    --light: #f4f4fd;
  }
header {
    background-color: var(--black);
    padding: 20px;
    color: var(--light);
    position: sticky;
    top: 0;
    z-index: 6;
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    position: relative;
    margin-right: 10px;
}

.navbar ul li a {
    color: var(--light);
    text-decoration: none;
    padding: 5px 10px;
    transition: 0.5s ease;
    font-size: 20px;
}

.navbar ul li a:hover {
    color: var(--green);
    text-decoration: underline;
}


