header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 6;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    position: relative;
    margin-right: 10px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: .5s ease;
    
}

.navbar ul li a:hover{
    color: #f96d00;
    text-decoration: underline;   
}

/* .navbar ul li a.active {
    font-weight: bold;
} */
